/*=== global === */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #2e2f22;
}

body a {
	text-decoration: none;
	color: #2e2f22;
}

li {
	list-style: none;
}

ul,
li,
figure,
blockquote {
	display: block;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Spectral SC', serif;
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
	line-height: 26px;
}

img {
	border-radius: 10px;
}

h2 {
	font-size: 36px;
	line-height: 55px;
}

* {
	box-sizing: border-box;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.visually-hidden {
	position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container-main {
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 224px;
	height: 46px;
	background-color: transparent;
	border: 1px solid;
	border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
}

.btn:hover {
	color: #fff;
	background-color: rgba(46, 47, 34, 0.7);
	border-color: rgba(46, 47, 34);
	transition: 0.5s;
}

.btn:hover a {
	color: #fff;
}

.warning-form {
  color: red;
}

/*=== / global === */

/*=== header page-1 === */
.header {
	background-image: url(../img/background-header.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	min-height: 581px;
	margin-bottom: 83px;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 609px;
  margin-left: 460px;
  line-height: 25px;
}

.menu a {
	font-size: 18px;
}

.menu a:hover {
	border-bottom: 1px solid;
}

.nav {
	padding-top: 4px;
	display: flex;
	align-items: center;
}

/*=== / header === */

/*=== section-1 === */
.title-section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 49px;
}

select {
	margin-left: auto;
	height: 46px;
	width: 203px;
	border: 0;
	border-radius: 10px;
	background: url(../img/Polygon.svg) no-repeat 165px center / 20px 20px;
	background-color: #d7d1c9;
	padding-left: 20px;
	font-size: 16px;
	line-height: 22px;
	appearance: none;
	z-index: 1;
}

.wrapper-articles {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 104px;
}

.article-small {
	display: flex;
	flex-direction: column;
	width: 387px;
}

.wrapper-articles li:not(:nth-child(3)):not(:nth-child(5)) {
	margin-right: 19px;
}

h3 {
	font-size: 18px;
}

.article-small h3 {
	margin-top: 27px;
	font-size: 18px;
	line-height: 27px;
}

.wrapper-articles span,
time {
	line-height: 26px;
}

.article-big {
	margin-top: 62px;
	color: #fff;
	width: 590px;
	border-radius: 10px;
	padding-bottom: 61px;
}

.hidden {
	opacity: 0;
}

.article-big:nth-of-type(4) {
	background: url(../img/image4.png) no-repeat center / cover;

}

.article-big:last-of-type {
	background: url(../img/image5.png) no-repeat center / cover;
}

.text-article h3 a {
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}

.text-article p {
	font-size: 18px;
	line-height: 28px;
}

.text-article {
	width: 429px;
	margin-top: 360px;
	margin-left: 82px;
}

.article-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	color: rgba(255, 255, 255, 0.7);
}

.wrapper-articles h3 {
	margin-bottom: 8px;
}

.article-small .article-meta {
	color: rgba(46, 47, 34, 0.7);
}

.wrapper-articles h3:hover {
	border-bottom: 1px solid;
	margin-bottom: 7px;
}

.btn-articles {
	text-transform: none;
}
/*=== / section-1 === */

/*=== article === */
.container-article {
	width: 1190px;
	margin-right: 20px;
}

.title-article {
	display: flex;
	margin-top: 85px;
	margin-bottom: 49px;
}

.title-article h2 {
	margin: 0 auto;
}

.wrapper-content {
	display: flex;
}

.txt-article {
	margin: 0 0 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 580px;
}

.txt-article-1 {
	margin-top: 42px;
	width: 497px;
	line-height: 26px;
	padding-left: 20px;
}

.txt-article-1 p:not(:nth-child(1)) {
	margin-top: 26px;
}

.txt-article-2 {
	width: 600px;
	margin-top: 78px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 30px;
	border-left: 3px solid #d7d1c9;
	padding: 20px 0 20px 20px;
}

.txt-article-2 p {
	line-height: 40px;
}

/*=== / article === */

/*=== section-2 === */
.title-portfolio {
	display: flex;
	margin-top: 85px;
	margin-bottom: 49px;
}

.title-portfolio h2 {
	margin: 0 auto;
}

.wrapper-portfolio {
	display: flex;
	color: #2e2f22;
	margin-bottom: 104px;

}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 387px;
	height: 525px;
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	transition: 1s;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

}

.block:hover {
	transform: scale(1.05);
	transition: 1s;
}

.block:hover {
	transition: 0.5s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50);
}

.block-1 {
	background: url(../img/image8.png) no-repeat center / cover;
	margin-right: 20px;
}

.block-2 {
	background: url(../img/image7.png) no-repeat center / cover;
	margin-right: 20px;
}

.block-3 {
	background: url(../img/image9.png) no-repeat center / cover;
}

.block h3 {
	margin-top: 140px;
	margin-bottom: 44px;
}

.block h3:hover {
	text-decoration: underline;
}

.block h3 + p {
	font-family: 'Spectral SC', serif;
	line-height: 28px;
	margin-bottom: 17px;
}

.wrapper-portfolio li:nth-child(2) {
	color: #fff;
}

.block-2 a {
	color: #fff;
}

.wrapper-portfolio h3 {
	font-size: 20px;
	line-height: 30px;
}

.wrapper-portfolio h3 + p {
	font-size: 18px;
	line-height: 28px;
}

.btn-partfolio {
	text-transform: uppercase;
}

/*=== / section-2 === */

/*=== section-3 === */
.title-form {
	display: flex;
	margin-top: 85px;
	margin-bottom: 49px;
}

.title-form h2 {
	margin: 0 auto;
}

.wrapper-form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../img/form-background.png);
	width: 996px;
	border-radius: 10px;
	padding-bottom: 62px;
	margin-bottom: 81px;
}

.form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 456px;
	width: 837px;
	margin-top: 53px;
	margin-bottom: 20px;
}

.form input,
textarea {
	border-radius: 10px;
	width: 407px;
	height: 63px;
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(46, 47, 34, 0.7);
	outline: none;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
	margin-top: 12px;
}

label {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Spectral SC', serif;
}

.name,
.email {
	width: 407px;
}

.message {
	margin-top: 20px;
	width: 837px;
	min-height: 333px;
}

textarea {
	width: 837px;
	height: 293px;
	resize: none;
}

.wrapper-form .btn {
	text-transform: uppercase;
}

.line-length-1 {
  font-size: 12px;
  margin-left: 320px;
}
/*=== / section-3 === */

/*=== footer === */
.footer {
  margin: 0 auto;
  width: 1440px;
  background-color: #d7d1c9;
  background-size: contain;
	height: 181px;
}

.nav-2 {
	display: flex;
}

.menu-2 {
	margin: 65px auto 0 auto;
	display: flex;
	width: 631px;
	justify-content: space-between;
	font-size: 18px;
	line-height: 25px;
}

.menu-2 a:hover {
	border-bottom: 1px solid;
}

/*=== / footer === */



/*=== header page-2 === */
.header-article {
	background-image: url(../img/page-2/header.png);
}

/*=== / header page-2 === */

/*=== article page-2 === */
.container-article-page-2 {
	width: 998px;
	margin-right: 202px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.title-article-page-2 {
	margin-bottom: 50px;
}

.title-tag {
	display: flex;
	width: 317px;
	justify-content: space-between;
	align-items: center;
	color: rgba(46, 47, 34, 0.7);
}

.container-article-page-2 p {
	margin-bottom: 40px;
}

.container-article-page-2 p,
span,
time {
	font-size: 16px;
	line-height: 26px;
}

figcaption {
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 26px;
}

.wrapper-bottom-bar {
	display: flex;
	align-items: center;
}

.wrapper-bottom-bar img {
	border-radius: 0;
}

.wrapper-bottom-bar a:not(:nth-child(1)):not(:nth-child(3)) {
	margin-left: 32px;
}

.wrapper-bottom-bar .twitter {
	margin-left: 691px;
}

.wrapper-bottom-bar span {
	margin-left: 14px;
	font-size: 24px;
	line-height: 26px;
	align-self: flex-end;
}

.style-likes {
	color: red;
	font-weight: 600;
}

.to-articles {
	margin-top: 37px;
}

.to-articles span {
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;

}

.to-articles::after {
	margin-left: 26px;
	content: url('../img/page-2/Arrow1.svg');
	width: 62px;
	height: 20px;
}

.to-articles a:hover {
	text-decoration-line: underline;
}
/*=== / article page-2 === */

/*=== section page-2 === */
.comments {
	margin-bottom: 81px;

}

.container-comments {
	display: flex;
	margin-top: 65px;
	width: 793px;
	background-color: #ECE1E1;
	border-radius: 10px;
	padding: 45px 0 45px 0;
}

.wrapper-comments {
	margin: auto;
	display: flex;
	flex-direction: column;
  width: 615px;
}

.wrapper-comments li:not(:last-child) {
	margin-bottom: 25px;
}

.comment-header {
	display: flex;
	align-items: center;
	font-weight: bold;
  margin-bottom: 14px;
  line-height: 22px;
}

.comment-header img {
	margin-right: 14px;
}

.comment-header:not(:nth-child(1)) {
	margin-top: 40px;
}

.form-comment {
	margin-top: 77px;
	margin-left: 82px;
  width: 711px;
  position: relative;
}

.input-comment2 textarea {
	margin: 0;
	width: 406px;
	max-height: 208px;
}

.form-comment h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 69px;
	margin-top: 77px;
}

.wrapper-form-comment {
  display: flex;
	justify-content: space-between;
	height: 208px;
}

.line-length-2 {
  position: absolute;
  left: 20rem;
  bottom: 13rem;
  font-size: 12px;
}

.line-length {
  transition: opacity .25s ease;
}

.input-comment1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 225px;
}

.input-comment1 input:not(.btn-comment) {
	width: 100%;
	border: 0;
	border-bottom: 1px solid;
	font-size: 16px;
	line-height: 22px;
	padding: 15px 0;
	border-color: rgba(46, 47, 34, 0.7);
}

.input-comment2 textarea {
	padding: 20px 20px;
}

.input-name {
	margin-bottom: 10px;
}
/*=== / section page-2 === */